/* Grid Container */
.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Grid Columns */
.col-1 {
    width: 8.3333333333%;
    float: left;
}

.col-2 {
    width: 16.6666666667%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col-4 {
    width: 33.3333333333%;
    float: left;
}

.col-5 {
    width: 41.6666666667%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-7 {
    width: 58.3333333333%;
    float: left;
}

.col-8 {
    width: 66.6666666667%;
    float: left;
}

.col-9 {
    width: 75%;
    float: left;
}

.col-10 {
    width: 83.3333333333%;
    float: left;
}

.col-11 {
    width: 91.6666666667%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.img-fluid {
    max-width: 100%;
    height: auto;

}

/* breakpoint md */


@media (min-width: 768px) {

    .col-md {
        flex: 1 0 0%;
    }

    .row-cols-md-auto>* {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-md-1>* {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-md-2>* {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-md-5>* {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-md-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        width: 100%;
        float: none;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;

}

.row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 100%;
}