ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 4px;
    margin: 4px;
  }
  
  li {
    float: right;
    color: white;
    display: block;
    padding: 30px 33px;
  }
  
