@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Potta+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f8f8f8;
}

/* nvbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f800;
    padding: 20px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #333;
}

.nav-links a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover::before {
    width: 100%;
    left: 0;
}



.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f8f800;
        padding: 20px;
    }

    .scrolled-mini {
        border-radius: 40px 40px 0 0 !important;
        -webkit-border-radius: 40px 40px 0 0 !important;
        -moz-border-radius: 40px 40px 0 0 !important;
        -ms-border-radius: 40px 40px 0 0 !important;
        -o-border-radius: 40px 40px 0 0 !important;
    }

    .burger {
        display: flex;
        z-index: 2;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(-100%);
        position: absolute;
        padding: 10px;
        top: 67px;
        left: 0;
        width: 100%;
        background-color: #f8f8f8;
        transition: all 0.5s ease-in-out;
        border-radius: 0 0 40px 40px !important;
        -webkit-border-radius: 0 0 40px 40px !important;
        -moz-border-radius: 0 0 40px 40px !important;
        -ms-border-radius: 0 0 40px 40px !important;
        -o-border-radius: 0 0 40px 40px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .nav-links.nav-active {
        opacity: 1;
        transform: translateY(0%);
    }

    .nav-links li {
        opacity: 0;
        padding: 10px;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .nav-links.nav-active li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li:nth-child(1) {
        transition-delay: 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition-delay: 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition-delay: 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition-delay: 0.8s;
    }

    .burger.open .line:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 6px);
    }

    .burger.open .line:nth-child(2) {
        opacity: 0;
    }

    .burger.open .line:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }
}


.rounded-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ! text */
.desc {
    text-align: justify;
}

.title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* ---------------------------- */
/* ! Forkafest */
/* ---------------------------- */
.forkafest {
    font-family: 'Lilita One', cursive;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 70px !important;
    line-height: 65px !important;
    background: linear-gradient(270deg, #C5D3E9 50%, #0D47A1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    margin-bottom: 30px;
}

.countdown {
    font-family: 'Lilita One', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    background: linear-gradient(270deg, #D2DFF2 0%, #B5C8E6 14.58%, #9BB4DB 28.12%, #7B9BCE 44.27%, #6288C4 56.77%, #507ABD 66.15%, #3C6BB4 76.04%, #0D47A1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.jam {
    list-style: none;
    font-family: 'Lilita One', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 65px;
    background: linear-gradient(270deg, #0D47A1 0%, #441066 100%, #C5D3E9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-right: auto;
}

.jam li {
    display: inline-block;
    margin-right: 10px;
}